.App {
  text-align: center;
}

.App-body {
  position: relative;
  background-image: var(--pointer-customs-logo);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 80px;
}

header {
  background-color: red;
  padding: 10px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.App-header h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 0;
}

.logo {
  height: 200px;
  margin-top: 60px;
  object-fit: contain;
}

.pointer-customs {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 20px; /* Adjust the margin as needed */
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.home-content p {
  font-size: 2rem;
  font-weight: bold;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  font-weight: bold;
}

.form-group input[type='text'],
.form-group input[type='email'] {
  width: 200%;
  padding: 10px;
  font-size: 16px;
}

.form-group textarea {
  width: 200%;
  height: 250px; /* Set the textarea height */
  padding: 10px;
  font-size: 16px;
}

button[type='submit'] {
  background-color: black;
  border: 6px solid red;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type='submit']:hover {
  background-color: red;
  color: black;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.project {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 30px;
}

.project img {
  width: 100%;
  height: auto;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project p {
  font-size: 1rem;
}